<ul>
  <li><b>Name</b>: <%= record.name %></li>
  <li><b>Priority date</b>: <%= record.priority_date.s_display %></li>
  <li><b>Waiting for cut-off</b>: <%= record.status %>
  <li>
    <b>Total Waiting for cut-off (<%= record.imm_type.upcase %>)</b>:
    <%= VisaBulletin.distance_friendly(record.imm_type, previous: VisaBulletin.current_cut_off_dates, current: VisaBulletin.first.sample_by_time_id) %>
    <b><%= "(#{VisaBulletin.improvement_speed(record.imm_type)})" %></b></li>
  </li>
</ul>


