<%
  current_dates = current.dates_by_type(data_type)
  previous_dates = previous.dates_by_type(data_type) if previous.present?
%>

<ul>
  <% VisaBulletin::TYPES.each do |key, _value| %>
    <li>
      <b><%= key.upcase %></b>:
      <% date = current_dates[key] %>
      <% if date.is_a?(Time) %>
        <%= date.s_display %>
        <%= "(#{VisaBulletin.distance_friendly(key, previous: current_dates, current: current.sample_by_time_id)})" %>
        <% if previous_dates %>
          <b><%= "(#{VisaBulletin.distance_friendly(key, previous: previous_dates, current: current_dates)})" %></b>
        <% end %>
      <% else %>
        <%= date %>
      <% end %>
    </li>
  <% end %>
</ul>
