%header.header
  %nav.navbar.fixed-top
    .navbar-holder.d-flex.align-items-center.align-middle.justify-content-between
      .navbar-header
        %a.navbar-brand{:href => "/"}
          .brand-image.brand-big
            = image_tag 'logo.png', class: 'logo-big', style: "width: 65px;"
          .brand-image.brand-small
            = image_tag 'logo.png', class: 'logo-small', style: "width: 65px;"
        %a#toggle-btn.menu-btn.active{:href => "javascript:;"}
          %span
          %span
          %span
      %ul.nav-menu.list-unstyled.d-flex.flex-md-row.align-items-md-center.pull-right
        - if current_user
          %li.nav-item.dropdown
            %a#notifications.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-target" => "javascript:;", "data-toggle" => "dropdown", :href => "javascript:;", :rel => "nofollow"}
              %i.la.la-bell.animated.infinite.swing
              %span.badge-pulse
            %ul.dropdown-menu.notification{"aria-labelledby" => "notifications"}
              %li
                .notifications-header
                  .title Notifications (4)
                  .notifications-overlay
                  = image_tag 'elisyam/notifications/01.jpg', class: 'img-fluid'
              %li
                %a{:href => "javascript:;"}
                  .message-icon
                    %i.la.la-user
                  .message-body
                    .message-body-heading
                      New user registered
                    %span.date 2 hours ago
              %li
                %a{:href => "javascript:;"}
                  .message-icon
                    %i.la.la-calendar-check-o
                  .message-body
                    .message-body-heading
                      New event added
                    %span.date 7 hours ago
              %li
                %a{:href => "javascript:;"}
                  .message-icon
                    %i.la.la-history
                  .message-body
                    .message-body-heading
                      Server rebooted
                    %span.date 7 hours ago
              %li
                %a{:href => "javascript:;"}
                  .message-icon
                    %i.la.la-twitter
                  .message-body
                    .message-body-heading
                      You have 3 new followers
                    %span.date 10 hours ago
              %li
                %a.dropdown-item.all-notifications.text-center{:href => "javascript:;", :rel => "nofollow"} View All Notifications
          %li.nav-item.dropdown
            %a#user.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-target" => "#", "data-toggle" => "dropdown", :href => "#", :rel => "nofollow"}
              = image_tag 'elisyam/avatar/avatar-01.jpg', class: 'avatar rounded-circle'
            %ul.user-size.dropdown-menu{"aria-labelledby" => "user"}
              %li.welcome
                %a.edit-profil{:href => "#"}
                  %i.la.la-gear
                = image_tag 'elisyam/avatar/avatar-01.jpg', class: 'rounded-circle'
              %li
                %a.dropdown-item{:href => "/"}
                  Profile
              %li
                %a.dropdown-item{:href => "/"}
                  Messages
              %li
                %a.dropdown-item.no-padding-bottom{:href => "#"}
                  Settings
              %li.separator
              %li
                %a.dropdown-item.no-padding-top{:href => "/"}
                  Faq
              %li
                = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item logout text-center' do
                  %i.ti-power-off
          %li.nav-item.hide
            %a.open-sidebar{:href => "#off-canvas"}
              %i.la.la-ellipsis-h
        - else
          %li
            = link_to new_user_session_path, class: 'dropdown-item' do
              Login
          %li
            = link_to new_user_registration_path, class: 'dropdown-item' do
              Register
